* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  background-color: #0A0908;
  overflow-x: hidden;
  position: relative;
  min-height: 100vh;
}

body::-webkit-scrollbar {
  width: 3px;
}

body::-webkit-scrollbar-thumb {
  background-color: #a5afb3;
  border-radius: 4px;
}

.grid {
  display: grid;
  grid-template-areas: "nav nav nav nav"
    "main main main main"
    "main main main main"
    "artistas artistas artistas artistas"
    "section section section section"
    "footer footer footer footer";
  background-color: #0A0908;
}

.grid-header {
  display: grid;
  grid-template-areas: "nav nav nav nav";
}

.grid-main {
  display: grid;
  grid-template-areas: "video video video video"
    "card1 card2 card3 card4";
}

.grid-artistas {
  display: grid;
  grid-template-areas: "artistas artistas artistas artistas";
}

.grid-section {
  display: grid;
  grid-template-areas: "card-section1 card-section2 card-section3 card-section4";
}

.grid-footer {
  display: grid;
  grid-template-areas: "a-footer a-footer a-footer a-logo";
}

/* ------------------------------------- Header ------------------------------------- */
.navbar {
  width: 100vw;
  background-color: #0A0908;
  grid-area: nav;
}

.container-fluid .navbar-brand1 {
  font-family: 'Shadows Into Light', cursive;
  font-size: 44px;
  text-decoration: none;
  color: #EDF2F4;
  margin-left: 5px;
  transition: all .4s;
}

.container-fluid .navbar-brand1:hover {
  transform: scale(1.2);
}

.collapse {
  justify-content: end;
  height: 8vh;
}

.navbar-nav {
  padding: 0 20px;
}

.nav-link1 {
  height: 100%;
  margin: 0 20px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Montserrat', sans-serif;
  color: #EDF2F4;
  padding: 10px;
  border-radius: 3px;
  transition: all .4s;
}

.nav-link1:hover {
  background-color: #EF233C;
  color: #EDF2F4;
}

.navbar-toggler1 {
  display: none;
}

/* ------------------------------------- Main ------------------------------------- */
main {
  grid-area: main;
  gap: 20px;
  background-color: #EDF2F4;
  width: 100vw;
}

.video-main {
  grid-area: video;
  padding: 1rem;
  background-color: #750B0E;
  border-bottom: 1px solid #000;
}

.video1 {
  display: flex;
  width: 90vw;
  height: 79vh;
  margin: 40px auto;
}

.card1 {
  grid-area: card1;
  display: flex;
  justify-content: space-evenly;
  height: 82%;
  margin-top: 5.25rem;
}

.card2 {
  grid-area: card2;
  display: flex;
  justify-content: space-evenly;
  height: 82%;
  margin-top: 5.25rem;
}

.card3 {
  grid-area: card3;
  display: flex;
  justify-content: space-evenly;
  height: 82%;
  margin-top: 5.25rem;
}

.card4 {
  grid-area: card4;
  display: flex;
  justify-content: space-evenly;
  height: 82%;
  margin-top: 5.25rem;
}

.a-cards {
  text-align: center;
  color: #0A0908;
  font-family: 'Shadows Into Light', cursive;
  font-size: 30px;
  transition: all .6s;
  text-decoration: none;
}

.a-cards:hover {
  transform: scale(1.08);
  text-shadow: 0px 30px 5px #0a0908;
}

.img-card1 {
  display: flex;
  width: 80%;
  height: 80%;
  object-fit: contain;
  margin: 0 10%;
}

.img-card2 {
  display: flex;
  width: 80%;
  height: 80%;
  object-fit: contain;
  margin: 0 10%;
}

.img-card3 {
  display: flex;
  width: 80%;
  height: 80%;
  object-fit: contain;
  margin: 0 10%;
}

.img-card4 {
  display: flex;
  width: 80%;
  height: 80%;
  object-fit: contain;
  margin: 0 10%;
}

/* ------------------------------------- seccion ------------------------------------- */
.grid-artistas {
  grid-area: artistas;
  display: flex;
  justify-content: center;
  padding: 40px 0;
  width: 100%;
  background-color: #750B0E;
}

.h1-artistas {
  color: #EDF2F4;
  font-family: 'Architects Daughter', cursive;
}

.grid-section {
  grid-area: section;
  padding: 40px;
  gap: 20px;
  background-color: #750B0E;
  width: 100vw;
}

.grid-section .card-section1 {
  grid-area: card-section1;
}

.grid-section .card-section2 {
  grid-area: card-section2;
}

.grid-section .card-section3 {
  grid-area: card-section3;
}

.grid-section .card-section4 {
  grid-area: card-section4;
}

.grid-section .img-section {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  bottom: 57px;
}

/* ------------------------------------- footer ------------------------------------- */
footer {
  grid-area: footer;
  padding-top: 20px;
  bottom: 0;
  width: 100vw;
}

footer .nav {
  grid-area: footer;
  width: 100vw;
  padding: 10px;
  background-color: #0A0908;
}

footer .nav-linkf {
  color: #EDF2F4;
  text-decoration: none;
  padding: 10px;
  margin: 0px 10px;
}

footer .nav-linkf:nth-child(6) {
  left: 94vw;
  bottom: 4px;
  font-family: 'Shadows Into Light', cursive;
  font-size: 30px;
  align-items: center;
  transition: all .7s;
}

.contenedor-a-footer {
  grid-area: a-footer;
  margin: 30px;
}

/* ------------------------------------- footer ------------------------------------- */
footer {
  grid-area: footer;
  padding-top: 20px;
  bottom: 0;
  width: 100vw;
}

footer .nav {
  grid-area: footer;
  width: 100vw;
  padding: 10px;
  background-color: #0A0908;
}

footer .nav-linkf {
  color: #EDF2F4;
  text-decoration: none;
  padding: 10px;
  margin: 0px 10px;
}

footer .nav-linkf:nth-child(6) {
  left: 94vw;
  bottom: 4px;
  font-family: 'Shadows Into Light', cursive;
  font-size: 30px;
  align-items: center;
  transition: all .7s;
}

.contenedor-a-footer {
  grid-area: a-footer;
  margin: 30px;
}

footer {
  background-color: #000;
  width: 100vw;
  position: absolute;
}

footer .nav-linkf {
  font-size: 17px;
  font-family: "Montserrat";
}

footer .nav-linkf:hover {
  color: #EF233C;
}

footer .nav-linkf:nth-child(6) {
  position: absolute;
}

footer .nav-linkf:nth-child(6):hover {
  transform: scale(1.25);
}

.marcas-guitarra,
.section-catalogo .gibson {
  position: relative;
  top: 8%;
}

/* ---------------------------------- PAGINA 2 -------------------------------- */
/* ---------------------------------- Main 2 ------------------------------------- */
.grid-main-catalogo {
  height: 100vh;
  background-color: #d3d2cf;
}

.title-catalogo {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1.25rem;
  font-family: "Comfortaa", cursive;
}

.parrafo {
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: justify;
  padding: 1.87rem;
  font-size: 24px;
  font-family: "Baloo 2", cursive;
}

.contenedor-h2 {
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: "Baloo 2", cursive;
  position: absolute;
  top: 13%;
}

.contenedor-h2 .h2-main2 {
  font-size: 35px;
  font-family: "Comfortaa", cursive;
}

/* --------------- Grid marcas --------------------- */
.grid-marcas {
  display: grid;
  grid-template-areas: "img-marca1 img-marca2 img-marca3 img-marca4";
  align-items: center;
  position: absolute;
  top: 15%;
}

.grid-marcas .card-marca1 {
  grid-area: img-marca1;
  display: flex;
  width: 100%;
}

.grid-marcas .card-marca2 {
  grid-area: img-marca2;
  display: flex;
  width: 100%;
}

.grid-marcas .card-marca3 {
  grid-area: img-marca3;
  display: flex;
  width: 100%;
}

.grid-marcas .card-marca4 {
  grid-area: img-marca4;
  display: flex;
  width: 100%;
}

.grid-marcas .a-marcas {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .6s;
}

.grid-marcas .a-marcas:hover {
  transform: scale(1.1);
}

.grid-marcas .img-marcas-catalogo {
  width: 50%;
  height: 100%;
}

/* ------------------------------ Section2 -------------------------------- */
.section-catalogo {
  grid-area: section;
  padding: 30px;
  gap: 20px;
  background-color: #750B0E;
  width: 100vw;
  height: 370vh;
}

.section-catalogo .logo-catalogo {
  width: 100vw;
  background-color: #d3d2cf;
  display: flex;
  justify-content: center;
  padding: 20px;
  position: relative;
  right: 2rem;
  top: -30px;
  height: 26vh;
}

.section-catalogo .logo-catalogo .logo-marca {
  width: 30%;
  height: 100%;
}

.section-catalogo .logo-catalogo2 {
  width: 100vw;
  background-color: #d3d2cf;
  display: flex;
  justify-content: center;
  padding: 20px;
  position: relative;
  right: 2rem;
  top: -30px;
  height: 26vh;
}

.ul-catalogo {
  display: grid;
  grid-template-areas: "card-catalogo1 card-catalogo2 card-catalogo3 card-catalogo4 card-catalogo5"
    "card-catalogo6 card-catalogo7 card-catalogo8 card-catalogo9 card-catalogo10";
  justify-content: center;
  gap: 13%;
}

.ul-catalogo span {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #0A0908;
  border-radius: 5px;
  box-shadow: 0px 5px 10px #000;
  position: relative;
  top: 0.62rem;
  visibility: hidden;
  transition: all .4s;
  color: #fff;
}

.ul-catalogo .card-catalogo1 {
  grid-area: card-catalogo1;
  cursor: pointer;
}

.ul-catalogo .card-catalogo1:hover span {
  transform: scale(1.15);
  visibility: visible;
}

.ul-catalogo .card-catalogo2 {
  grid-area: card-catalogo2;
  cursor: pointer;
}

.ul-catalogo .card-catalogo2:hover span {
  transform: scale(1.15);
  visibility: visible;
}

.ul-catalogo .card-catalogo3 {
  grid-area: card-catalogo3;
  cursor: pointer;
}

.ul-catalogo .card-catalogo3:hover span {
  transform: scale(1.15);
  visibility: visible;
}

.ul-catalogo .card-catalogo4 {
  grid-area: card-catalogo4;
  cursor: pointer;
}

.ul-catalogo .card-catalogo4:hover span {
  transform: scale(1.15);
  visibility: visible;
}

.ul-catalogo .card-catalogo5 {
  grid-area: card-catalogo5;
  cursor: pointer;
}

.ul-catalogo .card-catalogo5:hover span {
  transform: scale(1.15);
  visibility: visible;
}

.ul-catalogo .card-catalogo6 {
  grid-area: card-catalogo6;
  cursor: pointer;
}

.ul-catalogo .card-catalogo6:hover span {
  transform: scale(1.15);
  visibility: visible;
}

.ul-catalogo .card-catalogo7 {
  grid-area: card-catalogo7;
  cursor: pointer;
}

.ul-catalogo .card-catalogo7:hover span {
  transform: scale(1.15);
  visibility: visible;
}

.ul-catalogo .card-catalogo8 {
  grid-area: card-catalogo8;
  cursor: pointer;
}

.ul-catalogo .card-catalogo8:hover span {
  transform: scale(1.15);
  visibility: visible;
}

.ul-catalogo .card-catalogo9 {
  grid-area: card-catalogo9;
  cursor: pointer;
}

.ul-catalogo .card-catalogo9:hover span {
  transform: scale(1.15);
  visibility: visible;
}

.ul-catalogo .card-catalogo10 {
  grid-area: card-catalogo10;
  cursor: pointer;
}

.ul-catalogo .card-catalogo10:hover span {
  transform: scale(1.15);
  visibility: visible;
}

.ul-catalogo .card-catalogo10-off {
  display: none;
  cursor: pointer;
}

.ul-catalogo .card-catalogo10-off:hover span {
  transform: scale(1.15);
  visibility: visible;
}

.ul-catalogo img {
  width: 100%;
  height: 100%;
}

contenedor-h1-equipo {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1.25rem;
}

.h1-equipo {
  font-family: 'Comfortaa', cursive;
  text-align: center;
}

.contenedor-parrafo-equipo {
  width: 90%;
  display: flex;
  justify-content: center;
  text-align: justify;
  margin: 0 auto;
}

.contenedor-parrafo-equipo .parrafo-equipo {
  margin-top: 10px;
  font-family: 'Baloo 2', cursive;
  font-size: 20px;
}

.logo {
  font-family: 'Shadows Into Light', cursive;
  font-size: 64px;
  padding: 12px;
  text-decoration: none;
  color: #000;
}

.logo:hover {
  color: #a5afb3;
}

/* -------------------- Section equipo --------------------- */
.grid-section-equipo {
  grid-area: artistas;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 80px;
  width: 80%;
  height: 100vh;
  gap: 15px;
  background-color: #0A0908;
}

.grid-section-equipo .cards-equipo {
  width: 23vw;
  height: 37vh;
}

.grid-section-equipo .cards-equipo:hover .div-description {
  visibility: visible;
  background-color: #EDF2F4;
}

.grid-section-equipo .cards-equipo .img-staff {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid-section-equipo .div-description {
  height: 100%;
  position: relative;
  bottom: 21.5rem;
  visibility: hidden;
  transition: all .4s;
}

.grid-section-equipo .div-description .description {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Comfortaa', cursive;
  color: #0A0908;
  text-align: center;
  padding: 0 10px;
}

.grid-section-equipo .div-description .description .description2 {
  display: flex;
  position: absolute;
  bottom: 3.25rem;
}

/* ------------------------------- PAGINA 4 --------------------------------------- */
.grid-main-carrera {
  display: grid;
  grid-template-areas: "text1 img-carrera1"
    "img-carrera2 text2"
    "text3 img-carrera3"
    "img-carrera4 text4";
}

.grid-main-carrera .text1 {
  grid-area: text1;
}

.grid-main-carrera .text2 {
  grid-area: text2;
}

.grid-main-carrera .text3 {
  grid-area: text3;
}

.grid-main-carrera .text4 {
  grid-area: text4;
}

.grid-main-carrera .img-carrera1 {
  grid-area: img-carrera1;
  padding: 20px;
}

.grid-main-carrera .img-carrera2 {
  grid-area: img-carrera2;
  padding: 20px;
}

.grid-main-carrera .img-carrera3 {
  grid-area: img-carrera3;
  padding: 20px;
}

.grid-main-carrera .img-carrera4 {
  grid-area: img-carrera4;
  padding: 20px;
}

.grid-main-carrera .img-carreras {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.grid-main-carrera .parrafo-carrera {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  text-align: justify;
  padding: 20px;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* ------------------------------- PAGINA 5 --------------------------------------- */
.flex-main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0A0908;
}

.flex-main label {
  color: #EDF2F4;
}

.flex-main label .label-area {
  color: #000;
}

.flex-main .mb-3 .form-control {
  display: flex;
  width: 50vw;
}

.flex-main .logo-contacto {
  position: absolute;
  bottom: 70vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.flex-main .h1-contacto {
  font-family: 'Shadows Into Light', cursive;
  font-size: 100px;
  color: #EDF2F4;
}

/* ---------------------------------- Media queries --------------------------------- */
@media screen and (max-width: 1623px) {
  .grid-section-equipo {
    width: 100%;
    height: 100%;
  }

  .parrafo-carrera {
    font-size: 16px;
  }
}

@media screen and (max-width: 1368px) {
  .grid-section-equipo {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 1335px) {
  .section-catalogo {
    height: 273vh;
  }

  .contenedor-h2 {
    top: 16%;
  }

  .grid-marcas {
    top: 20%;
  }

  .grid-marcas .img-marcas-catalogo {
    width: 70%;
  }

  .grid-section-equipo {
    width: 100%;
    height: 100%;
  }

  .div-description {
    bottom: 21.5rem;
  }
}

@media screen and (max-width: 1320px) {
  .section-catalogo {
    height: 260vh;
  }

  .contenedor-h2 {
    top: 18%;
  }

  .grid-marcas {
    top: 21%;
  }

  .grid-marcas .img-marcas-catalogo {
    width: 70%;
  }
}

@media screen and (max-width: 1300px) {
  .video1 {
    width: 100%;
  }

  .section-catalogo {
    height: 250vh;
  }
}

@media screen and (max-width: 1200px) {
  .contenedor-h2 {
    top: 20%;
  }

  .grid-marcas {
    top: 23%;
  }

  .section-catalogo .logo-catalogo .logo-marca {
    width: 40%;
  }

  .a-logo {
    grid-area: a-logo;
    font-family: 'Shadows Into Light', cursive;
    font-size: 36px;
    color: #0A0908;
    position: relative;
    right: 20%;
  }

  .grid-main-carrera {
    display: grid;
    grid-template-areas: "img-carrera1 img-carrera1"
      "text1 text1"
      "img-carrera2 img-carrera2"
      "text2 text2"
      "img-carrera3 img-carrera3"
      "text3 text3"
      "img-carrera4 img-carrera4"
      "text4 text4";
  }

  .grid-main-carrera .img-carrera1 {
    padding: 15px;
    position: relative;
    top: 13px;
  }

  .grid-main-carrera .img-carrera2 {
    padding: 15px;
    position: relative;
    top: 13px;
  }

  .grid-main-carrera .img-carrera3 {
    padding: 15px;
    position: relative;
    top: 13px;
  }

  .grid-main-carrera .img-carrera4 {
    padding: 15px;
    position: relative;
    top: 13px;
  }

  .grid-main-carrera .img-carreras {
    height: 90%;
  }

  .grid-main-carrera .text1 {
    position: relative;
    bottom: 1.93rem;
  }

  .grid-main-carrera .text2 {
    position: relative;
    bottom: 2.5rem;
  }

  .grid-main-carrera .text3 {
    position: relative;
    bottom: 2.12rem;
  }

  .grid-main-carrera .text4 {
    position: relative;
    bottom: 6.25rem;
  }
}

@media screen and (max-width: 1100px) {
  .video1 {
    display: flex;
    width: 100%;
    margin: 2.5rem auto;
  }

  .card1 {
    grid-area: card1;
    display: flex;
    justify-content: space-evenly;
    height: 78%;
    margin-top: 5.25rem;
  }

  .card2 {
    grid-area: card2;
    display: flex;
    justify-content: space-evenly;
    height: 78%;
    margin-top: 5.25rem;
  }

  .card3 {
    grid-area: card3;
    display: flex;
    justify-content: space-evenly;
    height: 78%;
    margin-top: 5.25rem;
  }

  .card4 {
    grid-area: card4;
    display: flex;
    justify-content: space-evenly;
    height: 78%;
    margin-top: 5.25rem;
  }

  .a-cards {
    text-align: center;
    color: #0A0908;
    font-family: 'Shadows Into Light', cursive;
    font-size: 24px;
    transition: all .6s;
  }

  .parrafo-carrera {
    font-size: 13px;
  }
}

@media screen and (max-width: 1030px) {
  .section-catalogo {
    height: 237vh;
  }

  .section-catalogo .logo-catalogo {
    width: 100vw;
    background-color: #0A0908;
    display: flex;
    justify-content: center;
    padding: 20px;
    position: relative;
    right: 32px;
    top: -30px;
  }

  .contenedor-h2 {
    top: 22%;
  }

  .contenedor-h2 .h2-main2 {
    font-size: 30px;
  }

  .grid-marcas {
    top: 25%;
  }

  .logo-marca {
    width: 30%;
    height: 50%;
  }

  .ul-catalogo {
    display: grid;
    grid-template-areas: "card-catalogo1 card-catalogo2 card-catalogo3 card-catalogo4 "
      "card-catalogo5 card-catalogo6 card-catalogo7"
      "card-catalogo8 card-catalogo9 card-catalogo10";
    justify-content: center;
    gap: 13%;
    position: relative;
    left: -12px;
  }

  .ul-catalogo .card-catalogo1 {
    grid-area: card-catalogo1;
  }

  .ul-catalogo .card-catalogo2 {
    grid-area: card-catalogo2;
  }

  .ul-catalogo .card-catalogo3 {
    grid-area: card-catalogo3;
  }

  .ul-catalogo .card-catalogo4 {
    grid-area: card-catalogo4;
  }

  .ul-catalogo .card-catalogo5 {
    grid-area: card-catalogo5;
  }

  .ul-catalogo .card-catalogo6 {
    grid-area: card-catalogo6;
  }

  .ul-catalogo .card-catalogo7 {
    grid-area: card-catalogo7;
  }

  .ul-catalogo .card-catalogo8 {
    grid-area: card-catalogo8;
  }

  .ul-catalogo .card-catalogo9 {
    grid-area: card-catalogo9;
  }

  .ul-catalogo .card-catalogo10 {
    grid-area: card-catalogo10;
  }

  .ul-catalogo img {
    width: 100px;
    height: 300px;
  }

  .grid-main-carrera .img-carrera2 {
    top: -32px;
  }

  .grid-main-carrera .img-carrera3 {
    top: -1.43rem;
  }

  .grid-main-carrera .img-carrera4 {
    top: -3.43rem;
  }

  .grid-main-carrera .img-carreras {
    height: 100%;
  }

  .grid-main-carrera .parrafo-carrera {
    font-size: 16px;
  }
}

@media screen and (max-width: 982px) {
  .grid {
    display: grid;
    grid-template-areas: "nav nav nav"
      "main main main"
      "main main main"
      "artistas artistas artistas"
      "section section section"
      "footer footer footer";
  }

  .navbar-collapse {
    height: 100vh;
  }

  .navbar-nav {
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    height: 50vh;
    position: relative;
    top: 25%;
  }

  .navbar-toggler1 {
    padding: 10px;
    border: none;
    background-color: #0A0908;
    display: block;
    position: relative;
    bottom: 4px;
    transition: all 1s;
  }

  .navbar-toggler1:hover {
    transform: scale(1.1);
  }

  .navbar-toggler1 .icon {
    color: #EDF2F4;
    padding: 10px;
    font-size: 24px;
    visibility: visible;
  }

  .card1 {
    height: 75%;
  }

  .card2 {
    height: 75%;
  }

  .card3 {
    height: 75%;
  }

  .card4 {
    height: 75%;
  }

  .a-cards {
    font-size: 22px;
  }

  .img-card1 {
    width: 90%;
  }

  .img-card2 {
    width: 90%;
  }

  .img-card3 {
    width: 90%;
  }

  .img-card4 {
    width: 77%;
  }
}

@media screen and (max-width: 876px) {
  .grid {
    display: grid;
    grid-template-areas: "nav nav"
      "main main"
      "main main"
      "artistas artistas"
      "section section"
      "footer footer";
  }

  .grid .grid-header {
    display: grid;
    grid-template-areas: "logo logo"
      "nav nav";
  }

  .grid .grid-main {
    display: grid;
    grid-template-areas: "video video"
      "card1 card2"
      "card3 card4";
    height: 200vh;
  }

  .grid .grid-artistas {
    display: grid;
    grid-template-areas: "artistas artistas"
      "artistas artistas";
  }

  .grid .grid-section {
    display: grid;
    grid-template-areas: "card-section1 card-section2"
      "card-section3 card-section4";
    height: 100vh;
  }

  .grid .grid-footer {
    display: grid;
    grid-template-areas: "a-footer a-footer"
      "a-logo a-logo";
  }

  .contenedor-h2 {
    top: 11%;
  }

  .grid-marcas {
    top: 12%;
  }

  .section-catalogo {
    height: 588vh;
  }

  .section-catalogo .gibson {
    top: 12%;
  }

  .section-catalogo .logo-catalogo .logo-marca {
    width: 55%;
    height: 90%;
  }

  .section-catalogo .ul-catalogo {
    display: grid;
    grid-template-areas: "card-catalogo1 card-catalogo2 card-catalogo3 "
      "card-catalogo4 card-catalogo5 card-catalogo6"
      "card-catalogo7 card-catalogo8 card-catalogo9"
      "card-catalogo10 card-catalogo10 card-catalogo10";
  }

  .section-catalogo .ul-catalogo .img-catalogo {
    width: 100%;
    height: 100%;
  }

  .section-catalogo .ul-catalogo .img-catalogo-off {
    width: 100%;
  }

  .section-catalogo .ul-catalogo .card-catalogo10 {
    display: none;
  }

  /* ------- Main -------- */
  .card1 {
    display: flex;
    width: 100%;
    height: 45%;
  }

  .card2 {
    display: flex;
    width: 100%;
    height: 45%;
  }

  .card3 {
    display: flex;
    width: 100%;
    height: 45%;
    position: relative;
    bottom: 64%;
  }

  .card4 {
    display: flex;
    width: 100%;
    height: 45%;
    position: relative;
    bottom: 64%;
  }

  .a-cards {
    text-align: center;
    color: #0A0908;
    font-family: 'Shadows Into Light', cursive;
    font-size: 24px;
    transition: all .6s;
  }

  /* ----- Section ------ */
  .card-section1 {
    display: flex;
    width: 100%;
    height: 70%;
  }

  .card-section2 {
    display: flex;
    width: 100%;
    height: 70%;
  }

  .card-section3 {
    display: flex;
    width: 100%;
    height: 70%;
    position: relative;
    bottom: 25%;
  }

  .card-section4 {
    display: flex;
    width: 100%;
    height: 70%;
    position: relative;
    bottom: 25%;
  }

  .img-section {
    width: 100%;
    height: 100%;
  }

  /* ----- Footer ------ */
  footer .nav-linkf:nth-child(6) {
    position: absolute;
    left: 87vw;
  }

  .contenedor-a-footer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
  }

  .cards-equipo {
    width: 36vw;
    height: 30vh;
  }

  .div-description {
    bottom: 17.43rem;
  }
}

@media screen and (max-width: 742px) {
  .a-header {
    width: max-content;
    padding: 1.25rem;
  }

  .video1 {
    display: flex;
    width: 100%;
    margin: 4.5rem -0.5rem;
  }

  .card3 {
    margin-top: 1.25rem;
  }

  .card4 {
    margin-top: 1.25rem;
  }

  .grid-section {
    height: 100vh;
  }

  .grid-section .card-section1 {
    height: 100%;
  }

  .grid-section .card-section2 {
    height: 100%;
  }

  .grid-section .card-section3 {
    position: relative;
    top: 5px;
    height: 100%;
  }

  .grid-section .card-section4 {
    position: relative;
    top: 5px;
    height: 100%;
  }

  .contenedor-h2 {
    top: 14%;
  }

  .grid-marcas {
    top: 15%;
  }

  .contenedor-a-footer {
    width: max-content;
  }

  .section-catalogo {
    height: 500vh;
  }

  .section-catalogo .img-catalogo-off {
    height: 100%;
  }

  footer .nav-linkf:nth-child(6) {
    display: none;
  }

  footer .nav {
    justify-content: center;
  }
}

@media screen and (max-width: 711px) {
  .grid-main {
    height: 194vh;
  }

  .grid-footer {
    height: 0vh;
  }

  .a-logo-header {
    font-size: 36px;
  }

  .nav {
    padding: 2px;
    justify-content: center;
    margin-bottom: 0.75rem;
  }

  .a-header {
    font-size: 19px;
  }

  .video-main {
    height: 100vh;
  }

  .video-main .video1 {
    position: relative;
    left: 1%;
  }

  .nav {
    flex-direction: column;
    align-items: center;
  }

  .nav-linkf:nth-child(6) {
    display: none;
  }
}

@media screen and (max-width: 680px) {
  .section-catalogo {
    height: 456vh;
  }

  .contenedor-h2 {
    top: 15%;
  }

  .contenedor-h2 .h2-main2 {
    font-size: 23px;
  }

  .grid-marcas {
    top: 16%;
  }
}

@media screen and (max-width: 627px) {
  .grid-section-equipo {
    position: relative;
    right: 5.375rem;
    width: 90%;
  }

  .grid-section-equipo .cards-equipo {
    width: 100vw;
    height: 31vh;
  }

  .contenedor-h2 {
    top: 17%;
  }

  .grid-marcas {
    display: grid;
    grid-template-areas: "img-marca1 img-marca2"
      "img-marca3 img-marca4";
    align-items: center;
    top: 18%;
  }

  .grid-marcas .img-marcas-catalogo {
    width: 46%;
  }

  .grid-main-catalogo {
    height: 120vh;
  }

  .section-catalogo {
    height: 412vh;
  }

  .section-catalogo .logo-catalogo .logo-marca {
    height: 11vh;
    width: 45vw;
  }

  .section-catalogo .img-catalogo-off {
    height: 100%;
  }

  .grid-section-equipo .div-description {
    bottom: 18.06rem;
  }
}

@media screen and (max-width: 557px) {
  .contenedor-h2 {
    top: 20%;
  }

  .contenedor-h2 .h2-main2 {
    font-size: 20px;
  }

  .grid-marcas {
    top: 60.87rem;
  }

  .section-catalogo {
    height: 372vh;
  }
}

@media screen and (max-width: 532px) {
  .grid-main-catalogo {
    height: 136vh;
  }

  .grid-main-catalogo .contenedor-h2 {
    top: 22%;
  }

  .grid-main-catalogo .contenedor-h2 .h2-main2 {
    font-size: 19px;
  }

  .section-catalogo {
    height: 346vh;
  }

  .grid-marcas {
    top: 66.87rem;
  }
}

@media screen and (max-width: 450px) {
  .contenedor-a-footer {
    flex-direction: column;
  }

  .h2-main2 {
    text-align: center;
  }

  .grid-marcas {
    transform: scale(1);
    padding: 20px;
  }

  .card-marca1 {
    transform: scale(1.5);
  }

  .card-marca2 {
    transform: scale(1.5);
  }

  .card-marca3 {
    transform: scale(1.5);
  }

  .card-marca4 {
    transform: scale(1.5);
  }

  .grid-main-catalogo {
    height: 160vh;
  }

  .grid-main-catalogo .contenedor-h2 {
    top: 26%;
  }

  .grid-marcas {
    top: 77.87rem;
  }

  .grid-marcas .img-marcas-catalogo {
    width: 60%;
  }

  .ul-catalogo {
    display: grid;
    grid-template-areas: "card-catalogo1 card-catalogo2"
      "card-catalogo3 card-catalogo4"
      "card-catalogo5 card-catalogo6"
      "card-catalogo7 card-catalogo8"
      "card-catalogo9 card-catalogo10";
    position: relative;
    left: -17px;
  }

  .section-catalogo {
    height: 312vh;
  }

  .section-catalogo .logo-catalogo .logo-marca {
    height: 19vh;
    width: 83vw;
  }

  .card-catalogo10-off {
    display: none;
  }

  .card-catalogo10 {
    display: block;
  }
}

@media screen and (max-width: 410px) {
  .section-catalogo {
    height: 269vh;
  }

  .grid-main-catalogo {
    height: 150vh;
  }

  .grid-main-catalogo .contenedor-h2 {
    top: 28%;
  }

  .grid-marcas {
    top: 74.87rem;
  }
}

@media screen and (max-width: 400px) {
  .section-catalogo {
    height: 283vh;
  }
}

@media screen and (max-width: 370px) {
  .grid {
    display: grid;
    grid-template-areas: "nav nav"
      "main main"
      "main main"
      "artistas artistas"
      "section section"
      "footer footer";
  }

  .grid .grid-main {
    height: 100vh;
  }

  .grid .grid-main .video-main {
    height: 25vh;
  }

  .grid .grid-main .video-main .video1 {
    position: relative;
    top: -9vh;
    left: 1%;
    height: 23vh;
  }

  .card1 {
    height: 60%;
  }

  .card2 {
    height: 60%;
  }

  .card3 {
    height: 60%;
    margin-top: 8.25rem;
  }

  .card4 {
    height: 60%;
    margin-top: 8.25rem;
  }

  .a-cards {
    font-size: 16px;
  }

  .card-section1 {
    height: 80%;
  }

  .card-section2 {
    height: 80%;
  }

  .card-section3 {
    height: 80%;
  }

  .card-section4 {
    height: 80%;
  }

  .grid-main-catalogo {
    height: 165vh;
  }

  .grid-main-catalogo .contenedor-h2 {
    top: 19%;
  }

  .section-catalogo {
    height: 525vh;
  }

  .section-catalogo .gibson {
    top: 15%;
  }

  .section-catalogo .logo-catalogo .logo-marca {
    height: 20vh;
    width: 89vw;
  }

  .section-catalogo .ul-catalogo {
    display: grid;
    grid-template-areas: "card-catalogo1 card-catalogo2"
      "card-catalogo3 card-catalogo4"
      "card-catalogo5 card-catalogo6"
      "card-catalogo7 card-catalogo8"
      "card-catalogo9 card-catalogo10";
    justify-content: center;
    gap: 11%;
    position: relative;
    left: -11px;
  }

  .section-catalogo .ul-catalogo .img-catalogo {
    width: 100px;
    height: 267px;
  }

  .section-catalogo .ul-catalogo .card-catalogo10 {
    display: block;
  }

  .section-catalogo .ul-catalogo .logo-marca {
    width: 62%;
    height: 50%;
  }

  .contenedor-a-footer {
    display: flex;
    flex-direction: column;
  }

  .grid-marcas {
    position: relative;
    top: 5%;
    gap: 25%;
    padding: 29px;
  }

  .grid-marcas .img-marcas-catalogo {
    width: 80%;
    height: 100%;
  }

  .grid-section-equipo {
    width: 120%;
  }

  .grid-section-equipo .div-description {
    bottom: 18rem;
  }

  .form-control {
    width: 72vw;
  }

  .mb-3 .form-control {
    width: 72vw;
  }

  .grid-section-equipo .cards-equipo {
    width: 82vw;
    height: 31vh;
    position: relative;
    right: 13px;
  }

  .flex-main .mb-3 .form-control {
    width: 66vw;
  }
}