$red: #EF233C;
$footer: 100vw;
/* ------------------------------------- footer ------------------------------------- */
footer{
    grid-area: footer;
    padding-top: 20px;
    bottom: 0;
    width: $footer;
    .nav{
        grid-area: footer;
        width: $footer;
        padding: 10px;
        background-color: #0A0908;
    }

    .nav-linkf{
        color: #EDF2F4;
        text-decoration: none;
        padding: 10px;
        margin: 0px 10px;
    }

    .nav-linkf:nth-child(6){
        left: 94vw;
        bottom: 4px;
        font-family: 'Shadows Into Light', cursive;
        font-size: 30px;
        align-items: center;
        transition: all .7s;
    }
}

.contenedor-a-footer{
    grid-area: a-footer;
    margin: 30px;
}