@import "./SASS2/mixins";
$color-letras:#EDF2F4;
$color-background:#750B0E;
$margin-cards: 5.25rem;

/* ------------------------------------- Main ------------------------------------- */
main{
    grid-area: main;
    gap: 20px;
    background-color: $color-letras;
    width: 100vw;
}

.video-main{
    grid-area: video;
    padding: 1rem;
    background-color:$color-background;
    border-bottom: 1px solid #000;
}

.video1{
    display: flex;
    width: 90vw;
    height: 79vh;
    margin: 40px auto;
}

.card1{
    grid-area: card1;
    @include cards;
}

.card2{
    grid-area: card2;
    @include cards;
}

.card3{
    grid-area: card3;
    @include cards;
}

.card4{
    grid-area: card4;
    @include cards;
}

.a-cards{
    text-align: center;
    color: #0A0908;
    font-family: 'Shadows Into Light', cursive;
    font-size: 30px;
    transition: all .6s;
    text-decoration: none;
    &:hover{
        transform: scale(1.08);
        text-shadow: 0px 30px 5px #0a0908;
    }
}

.img-card1{
    @include imagen-cards;
}

.img-card2{
    @include imagen-cards;
}

.img-card3{
    @include imagen-cards;
}

.img-card4{
    @include imagen-cards;
}