@mixin  cards {
    display: flex;
    justify-content: space-evenly;
    height: 82%;
    margin-top: $margin-cards;
}

@mixin imagen-cards {
    display: flex;
    width: 80%;
    height: 80%;
    object-fit: contain;
    margin: 0 10%;
}

@mixin guitarras-catalogo {
    cursor: pointer;
        &:hover span{
            transform: scale(1.15);
            visibility: visible;
        }
}

@mixin logos {
    width: 100vw;
    background-color: $background-logo-section;
    display: flex;
    justify-content: center;
    padding: 20px;
    position: relative;
    right: 2rem;
    top: -30px;
    height: 26vh;
}